### Datasets:

Here's one dataset for food prices https://www.kaggle.com/jboysen/global-food-prices

Here is the dataset for temperature and rainfalls http://sdwebx.worldbank.org/climateportal/index.cfm?page=downscaled_data_download&menu=historical

### Hypothesis: 

Do changes in average temperature and average level of rainfall affect the change in the average price on X crop in X country in X-X years

### Questions to the Professor:

1. How can we all access and work simultaneously in the shared Github repo (with 1 master and 3 collaborators)?

# Cleaning the data
coding issues- utf-8 didn't work, use iso-8859-1 instead
## Price Dataset

In [28]:
import pandas as pd

CsvFile='https://raw.githubusercontent.com/vzakhozhyi/599-A-Final-Project/master/Data/wfp_market_food_prices.csv'
##
dataCsv=pd.read_csv(CsvFile,header=0, encoding = "ISO-8859-1")

In [ ]:
dataCsv.info()

In [3]:
dataCsv.adm0_name.unique()

array(['Afghanistan', 'Algeria', 'Armenia', 'Azerbaijan', 'Bangladesh',
       'Benin', 'Bhutan', 'Bolivia', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Cape Verde', 'Central African Republic',
       'Chad', 'Colombia', 'Congo', 'Costa Rica', "Cote d'Ivoire",
       'Democratic Republic of the Congo', 'Djibouti', 'El Salvador',
       'Ethiopia', 'Gambia', 'Georgia', 'Ghana', 'Guatemala',
       'Guinea-Bissau', 'Guinea', 'Haiti', 'Honduras', 'India',
       'Indonesia', 'Iran  (Islamic Republic of)', 'Iraq', 'Jordan',
       'Kenya', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Lebanon', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali',
       'Mauritania', 'Mozambique', 'Myanmar', 'Nepal', 'Niger', 'Nigeria',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Rwanda', 'Senegal',
       'Somalia', 'Sri Lanka', 'Swaziland', 'Syrian Arab Republic',
       'Tajikistan', 'Timor-Leste', 'Turkey', 'Uganda', 'Ukraine',
       'United Republic of Tanzania', 'Yemen', 'Zambia', 'Zimbabwe',
       'State of Palestine', 'Sudan', 'Egypt', 'South Sudan'],
      dtype=object)

In [29]:
#CountryWeWant = ['Cambodia', "Lao People's Democratic Republic", 'Myanmar']

In [4]:
TargetCountry = ['Bolivia', "Peru", 'Colombia']
TargetCrop = ["Potatoes","Potatoes (Dutch)"]

Let's see what we have.

In [19]:
#dataCsv.head

In [18]:
#dataCsv.tail

#pd.unique(demodexClean.Category).tolist()

In [33]:
#price = dataCsv[adm0_name == 'Afghanistan']

In [54]:
#dataCsv.query(adm0_name)

In [43]:
Price = dataCsv[dataCsv.adm0_name.isin(TargetCountry)]

In [47]:
Price = Price[Price.cm_name.isin(TargetCrop)]

See unique values of crops of each country.

In [7]:
Price[(Price.adm0_name=='Bolivia')].cm_name.unique()

array(['Eggs', 'Sugar', 'Meat (beef, chops with bones)',
       'Meat (chicken, whole)', 'Noodles (short)', 'Potatoes (Dutch)',
       'Potatoes (Irish, imilla)', 'Rice (estaquilla)',
       'Rice (long grain)', 'Bread (wheat)', 'Rice (good quality)',
       'Rice (white)', 'Rice (carolina 2da)', 'Rice (medium grain)',
       'Potatoes (black)'], dtype=object)

In [8]:
Price[(Price.adm0_name== "Peru")].cm_name.unique()

array(['Maize (local)', 'Rice (local)', 'Potatoes', 'Meat (chicken)',
       'Oil (vegetable)', 'Sugar', 'Wheat flour (locally processed)'],
      dtype=object)

In [9]:
Price[(Price.adm0_name== 'Colombia')].cm_name.unique()

array(['Wheat flour', 'Maize (white)', 'Maize flour', 'Beans (red)',
       'Potatoes', 'Meat (chicken)', 'Oil (vegetable)', 'Sugar', 'Garlic',
       'Onions (red)', 'Onions (white)', 'Pasta', 'Tomatoes',
       'Rice (white)', 'Maize (yellow)', 'Meat (beef)', 'Plantains',
       'Cocoa', 'Coffee', 'Carrots', 'Fish (dry)', 'Cabbage', 'Salt',
       'Rice (paddy)', 'Chickpeas (imported)', 'Eggs (white, AA)',
       'Meat (beef, minced)', 'Peas (green, dry)', 'Potatoes (unica)',
       'Sugar (brown)', 'Sugar (brown, loaf)', 'Apples (red)',
       'Cauliflower', 'Cucumbers (greenhouse)', 'Oranges (big size)',
       'Bananas', 'Beans (red, fresh)', 'Fuel (diesel)',
       'Fuel (petrol-gasoline)', 'Cassava (dry)', 'Spinach',
       'Fish (tilapia)', 'Beans (string)', 'Guava', 'Papaya',
       'Blackberry', 'Broccoli', 'Mangoes', 'Pumpkin',
       'Tamarillos/tree tomatoes', 'Cheese', 'Lentils (imported)',
       'Milk (pasteurized)',
       'Wage (non-qualified labour, non-agricultural)', 'Meat (pork)',
       'Coffee (instant)', 'Oil (sunflower)'], dtype=object)

In [52]:
# This is what we want get rid of:
ByeColumns = ['adm0_id', 'adm1_id','mkt_id','cm_id','cur_id','pt_id','um_id']#,'mp_commoditysource']

#this would change the original: GhanaYamPrice.drop(byeColumns,axis=1,inplace=False)
Price=Price.drop(ByeColumns,axis=1, inplace=False).reset_index(drop=True)

Unified the name of potatoes.

In [67]:
Price['cm_name'] = Price['cm_name'].replace(['Potatoes (Dutch)'], 'Potatoes')

In [68]:
Price

,adm0_name,adm1_name,mkt_name,cm_name,cur_name,pt_name,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,1,2010,26.08,INE
1,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,2,2010,26.17,INE
2,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,3,2010,23.58,INE
3,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,4,2010,22.83,INE
4,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,5,2010,22.83,INE
5,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,6,2010,22.58,INE
6,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,7,2010,27.33,INE
7,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,8,2010,37.50,INE
8,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,9,2010,44.00,INE
9,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,10,2010,41.00,INE
10,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,11,2010,37.67,INE
11,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,12,2010,36.58,INE
12,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,1,2011,37.67,INE
13,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,2,2011,39.67,INE
14,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,3,2011,38.17,INE
15,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,4,2011,35.42,INE
16,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,5,2011,35.42,INE
17,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,6,2011,37.75,INE
18,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,7,2011,37.75,INE
19,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,8,2011,37.58,INE
20,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,9,2011,37.50,INE
21,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,10,2011,37.25,INE
22,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,11,2011,38.08,INE
23,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,12,2011,38.42,INE
24,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,1,2012,32.08,INE
25,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,2,2012,31.00,INE
26,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,3,2012,29.58,INE
27,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,4,2012,27.83,INE
28,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,5,2012,28.00,INE
29,Bolivia,La Paz,La Paz City,Potatoes,BOB,Retail,11.5 KG,1,2010,35.87,INE
...,...,...,...,...,...,...,...,...,...,...,...
439,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,2,2014,1.32,INEI
440,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,3,2014,1.34,INEI
441,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,4,2014,1.38,INEI
442,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,5,2014,1.44,INEI
443,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,6,2014,1.48,INEI
444,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,7,2014,1.46,INEI
445,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,8,2014,1.41,INEI
446,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,9,2014,1.34,INEI
447,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,10,2014,1.36,INEI
448,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,11,2014,1.34,INEI
449,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,12,2014,1.41,INEI (http://iinei.inei.gob.pe/iinei/siemweb/p...
450,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,1,2015,1.70,INEI (http://iinei.inei.gob.pe/iinei/siemweb/p...
451,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,2,2015,1.80,INEI (http://iinei.inei.gob.pe/iinei/siemweb/p...
452,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,3,2015,1.90,INEI (http://iinei.inei.gob.pe/iinei/siemweb/p...
453,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,4,2015,1.83,INEI (http://iinei.inei.gob.pe/iinei/siemweb/p...
454,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,5,2015,1.66,INEI (http://iinei.inei.gob.pe/iinei/siemweb/p...
455,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,6,2015,1.56,INEI (http://iinei.inei.gob.pe/iinei/siemweb/p...
456,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,7,2015,1.49,INEI (http://iinei.inei.gob.pe/iinei/siemweb/p...
457,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,8,2015,1.52,INEI (http://iinei.inei.gob.pe/iinei/siemweb/p...
458,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,9,2015,1.56,INEI (http://iinei.inei.gob.pe/iinei/siemweb/p...
459,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,10,2015,1.72,http://iinei.inei.gob.pe/iinei/siemweb/publico/
460,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,11,2015,2.17,http://iinei.inei.gob.pe/iinei/siemweb/publico/
461,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,12,2015,2.49,http://iinei.inei.gob.pe/iinei/siemweb/publico/
462,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,1,2016,2.67,http://iinei.inei.gob.pe/iinei/siemweb/publico/
463,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,2,2016,2.44,http://iinei.inei.gob.pe/iinei/siemweb/publico/
464,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,3,2016,2.05,http://iinei.inei.gob.pe/iinei/siemweb/publico/
465,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,4,2016,1.72,http://iinei.inei.gob.pe/iinei/siemweb/publico/
466,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,5,2016,1.67,http://iinei.inei.gob.pe/iinei/siemweb/publico/
467,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,6,2016,1.66,http://iinei.inei.gob.pe/iinei/siemweb/publico/
468,Peru,Lima,Lima,Potatoes,PEN,Retail,KG,7,2016,1.81,http://iinei.inei.gob.pe/iinei/siemweb/publico/

In [91]:
Price.head(10)

,adm0_name,adm1_name,mkt_name,cm_name,cur_name,pt_name,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,1,2010,26.08,INE
1,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,2,2010,26.17,INE
2,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,3,2010,23.58,INE
3,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,4,2010,22.83,INE
4,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,5,2010,22.83,INE
5,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,6,2010,22.58,INE
6,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,7,2010,27.33,INE
7,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,8,2010,37.50,INE
8,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,9,2010,44.00,INE
9,Bolivia,Chuquisaca,Sucre,Potatoes,BOB,Retail,11.5 KG,10,2010,41.00,INE

Average price by country.

In [97]:
PriceData = Price.groupby(['adm0_name','cm_name','mp_year','mp_month'], as_index=False)[['mp_price']].mean()

data.groupby('month', as_index=False).agg({"duration": "sum"}), The groupby output will have an index or multi-index on rows corresponding to your chosen grouping variables. To avoid setting this index, pass â€œas_index=Falseâ€ to the groupby operation.

In [89]:
list(PriceData)

['mp_year', 'mp_month', 'mp_price']

In [98]:
PriceData

    adm0_name   cm_name  mp_year  mp_month    mp_price
0     Bolivia  Potatoes     2010         1   20.824286
1     Bolivia  Potatoes     2010         2   20.142857
2     Bolivia  Potatoes     2010         3   19.251429
3     Bolivia  Potatoes     2010         4   17.751429
4     Bolivia  Potatoes     2010         5   17.644286
5     Bolivia  Potatoes     2010         6   18.567143
6     Bolivia  Potatoes     2010         7   20.671429
7     Bolivia  Potatoes     2010         8   25.388571
8     Bolivia  Potatoes     2010         9   28.105714
9     Bolivia  Potatoes     2010        10   27.470000
10    Bolivia  Potatoes     2010        11   26.532857
11    Bolivia  Potatoes     2010        12   26.052857
12    Bolivia  Potatoes     2011         1   26.818571
13    Bolivia  Potatoes     2011         2   28.425714
14    Bolivia  Potatoes     2011         3   28.252857
15    Bolivia  Potatoes     2011         4   24.948571
16    Bolivia  Potatoes     2011         5   25.317143
17    Bolivia  Potatoes     2011         6   25.734286
18    Bolivia  Potatoes     2011         7   25.725714
19    Bolivia  Potatoes     2011         8   25.207143
20    Bolivia  Potatoes     2011         9   25.571429
21    Bolivia  Potatoes     2011        10   27.345714
22    Bolivia  Potatoes     2011        11   27.832857
23    Bolivia  Potatoes     2011        12   26.842857
24    Bolivia  Potatoes     2012         1   24.717143
25    Bolivia  Potatoes     2012         2   23.724286
26    Bolivia  Potatoes     2012         3   22.564286
27    Bolivia  Potatoes     2012         4   20.334286
28    Bolivia  Potatoes     2012         5   20.108571
29   Colombia  Potatoes     2012         4  879.500000
..        ...       ...      ...       ...         ...
187      Peru  Potatoes     2014         2    1.320000
188      Peru  Potatoes     2014         3    1.340000
189      Peru  Potatoes     2014         4    1.380000
190      Peru  Potatoes     2014         5    1.440000
191      Peru  Potatoes     2014         6    1.480000
192      Peru  Potatoes     2014         7    1.460000
193      Peru  Potatoes     2014         8    1.410000
194      Peru  Potatoes     2014         9    1.340000
195      Peru  Potatoes     2014        10    1.360000
196      Peru  Potatoes     2014        11    1.340000
197      Peru  Potatoes     2014        12    1.410000
198      Peru  Potatoes     2015         1    1.700000
199      Peru  Potatoes     2015         2    1.800000
200      Peru  Potatoes     2015         3    1.900000
201      Peru  Potatoes     2015         4    1.830000
202      Peru  Potatoes     2015         5    1.660000
203      Peru  Potatoes     2015         6    1.560000
204      Peru  Potatoes     2015         7    1.490000
205      Peru  Potatoes     2015         8    1.520000
206      Peru  Potatoes     2015         9    1.560000
207      Peru  Potatoes     2015        10    1.720000
208      Peru  Potatoes     2015        11    2.170000
209      Peru  Potatoes     2015        12    2.490000
210      Peru  Potatoes     2016         1    2.670000
211      Peru  Potatoes     2016         2    2.440000
212      Peru  Potatoes     2016         3    2.050000
213      Peru  Potatoes     2016         4    1.720000
214      Peru  Potatoes     2016         5    1.670000
215      Peru  Potatoes     2016         6    1.660000
216      Peru  Potatoes     2016         7    1.810000

[217 rows x 5 columns]

Saving files to R:

In [99]:
PriceData.to_excel("Price.xlsx",index=None)

## Temperature Data

In [29]:
Temps = ["Temp" + "_" +str(country)  for country in TargetCountry]
Rainfalls = ["Rainfall" + "_" +str(country)  for country in TargetCountry ]
LinkTemps = ["https://github.com/vzakhozhyi/599-A-Final-Project/blob/master/Data/"+str(country)+".xls?raw=true" for country in Temps]
LinkRainfalls = ["https://github.com/vzakhozhyi/599-A-Final-Project/blob/master/Data/"+str(country)+".xls?raw=true" for country in Rainfalls]

In [30]:
Temps, Rainfalls, LinkTemps, LinkRainfalls

(['Temp_Bolivia', 'Temp_Peru', 'Temp_Colombia'],
 ['Rainfall_Bolivia', 'Rainfall_Peru', 'Rainfall_Colombia'],
 ['https://github.com/vzakhozhyi/599-A-Final-Project/blob/master/Data/Temp_Bolivia.xls?raw=true',
  'https://github.com/vzakhozhyi/599-A-Final-Project/blob/master/Data/Temp_Peru.xls?raw=true',
  'https://github.com/vzakhozhyi/599-A-Final-Project/blob/master/Data/Temp_Colombia.xls?raw=true'],
 ['https://github.com/vzakhozhyi/599-A-Final-Project/blob/master/Data/Rainfall_Bolivia.xls?raw=true',
  'https://github.com/vzakhozhyi/599-A-Final-Project/blob/master/Data/Rainfall_Peru.xls?raw=true',
  'https://github.com/vzakhozhyi/599-A-Final-Project/blob/master/Data/Rainfall_Colombia.xls?raw=true'])

In [31]:
TempData = []
RainfallData = []

n = 0
k = 0

for i in LinkTemps:
    df1 = pd.read_excel(i)
    TempData.append(df1)

for j in LinkRainfalls:
    df2 = pd.read_excel(j)
    RainfallData.append(df2)

Here is the temp data:

In [39]:
TempData

[         tas  \tYear   Month  Country   ISO3   ISO2
 0    23.3426    1991       1      BOL    NaN    NaN
 1    23.1225    1991       2      BOL    NaN    NaN
 2    22.4283    1991       3      BOL    NaN    NaN
 3    21.2055    1991       4      BOL    NaN    NaN
 4    19.9238    1991       5      BOL    NaN    NaN
 5    18.2097    1991       6      BOL    NaN    NaN
 6    17.7880    1991       7      BOL    NaN    NaN
 7    19.2964    1991       8      BOL    NaN    NaN
 8    21.4351    1991       9      BOL    NaN    NaN
 9    22.0184    1991      10      BOL    NaN    NaN
 10   22.5688    1991      11      BOL    NaN    NaN
 11   23.1559    1991      12      BOL    NaN    NaN
 12   22.1763    1992       1      BOL    NaN    NaN
 13   22.3409    1992       2      BOL    NaN    NaN
 14   21.6967    1992       3      BOL    NaN    NaN
 15   20.9250    1992       4      BOL    NaN    NaN
 16   20.4805    1992       5      BOL    NaN    NaN
 17   18.7640    1992       6      BOL    NaN    NaN
 18   16.4989    1992       7      BOL    NaN    NaN
 19   18.4649    1992       8      BOL    NaN    NaN
 20   20.1317    1992       9      BOL    NaN    NaN
 21   21.9969    1992      10      BOL    NaN    NaN
 22   21.9721    1992      11      BOL    NaN    NaN
 23   22.5965    1992      12      BOL    NaN    NaN
 24   22.3915    1993       1      BOL    NaN    NaN
 25   21.9723    1993       2      BOL    NaN    NaN
 26   21.8815    1993       3      BOL    NaN    NaN
 27   21.3656    1993       4      BOL    NaN    NaN
 28   19.1477    1993       5      BOL    NaN    NaN
 29   18.1951    1993       6      BOL    NaN    NaN
 ..       ...     ...     ...      ...    ...    ...
 270  17.6383    2013       7      BOL    NaN    NaN
 271  17.5042    2013       8      BOL    NaN    NaN
 272  20.5285    2013       9      BOL    NaN    NaN
 273  21.5480    2013      10      BOL    NaN    NaN
 274  22.3415    2013      11      BOL    NaN    NaN
 275  22.7411    2013      12      BOL    NaN    NaN
 276  21.7372    2014       1      BOL    NaN    NaN
 277  21.7151    2014       2      BOL    NaN    NaN
 278  21.5648    2014       3      BOL    NaN    NaN
 279  21.4202    2014       4      BOL    NaN    NaN
 280  19.0185    2014       5      BOL    NaN    NaN
 281  18.8967    2014       6      BOL    NaN    NaN
 282  17.4313    2014       7      BOL    NaN    NaN
 283  19.9879    2014       8      BOL    NaN    NaN
 284  22.7344    2014       9      BOL    NaN    NaN
 285  23.2739    2014      10      BOL    NaN    NaN
 286  24.1528    2014      11      BOL    NaN    NaN
 287  23.3578    2014      12      BOL    NaN    NaN
 288  22.8332    2015       1      BOL    NaN    NaN
 289  22.3247    2015       2      BOL    NaN    NaN
 290  22.9973    2015       3      BOL    NaN    NaN
 291  21.8676    2015       4      BOL    NaN    NaN
 292  19.2114    2015       5      BOL    NaN    NaN
 293  18.6443    2015       6      BOL    NaN    NaN
 294  18.9004    2015       7      BOL    NaN    NaN
 295  20.3627    2015       8      BOL    NaN    NaN
 296  23.3172    2015       9      BOL    NaN    NaN
 297  22.4625    2015      10      BOL    NaN    NaN
 298  23.0985    2015      11      BOL    NaN    NaN
 299  23.4787    2015      12      BOL    NaN    NaN

 [300 rows x 6 columns],          tas  \tYear   Month  Country   ISO3   ISO2
 0    19.9068    1991       1      PER    NaN    NaN
 1    20.1518    1991       2      PER    NaN    NaN
 2    20.1453    1991       3      PER    NaN    NaN
 3    20.0942    1991       4      PER    NaN    NaN
 4    19.5744    1991       5      PER    NaN    NaN
 5    18.8246    1991       6      PER    NaN    NaN
 6    18.2285    1991       7      PER    NaN    NaN
 7    17.9892    1991       8      PER    NaN    NaN
 8    19.3474    1991       9      PER    NaN    NaN
 9    19.6034    1991      10      PER    NaN    NaN
 10   19.8240    1991      11      PER    NaN    NaN
 11   20.4750    1991      12      PER    NaN    NaN
 12   20.9506    1992       1      PER    NaN    NaN
 13   20.7916    1992       2      PER    NaN    NaN
 14   20.9657    1992       3      PER    NaN    NaN
 15   20.8950    1992       4      PER    NaN    NaN
 16   20.6799    1992       5      PER    NaN    NaN
 17   19.2458    1992       6      PER    NaN    NaN
 18   17.6862    1992       7      PER    NaN    NaN
 19   18.7134    1992       8      PER    NaN    NaN
 20   18.8314    1992       9      PER    NaN    NaN
 21   19.5663    1992      10      PER    NaN    NaN
 22   19.8571    1992      11      PER    NaN    NaN
 23   19.7845    1992      12      PER    NaN    NaN
 24   19.9418    1993       1      PER    NaN    NaN
 25   20.2341    1993       2      PER    NaN    NaN
 26   20.1286    1993       3      PER    NaN    NaN
 27   19.9520    1993       4      PER    NaN    NaN
 28   19.7486    1993       5      PER    NaN    NaN
 29   19.0334    1993       6      PER    NaN    NaN
 ..       ...     ...     ...      ...    ...    ...
 270  17.8101    2013       7      PER    NaN    NaN
 271  18.2066    2013       8      PER    NaN    NaN
 272  19.5468    2013       9      PER    NaN    NaN
 273  19.6918    2013      10      PER    NaN    NaN
 274  19.9322    2013      11      PER    NaN    NaN
 275  20.2307    2013      12      PER    NaN    NaN
 276  20.2443    2014       1      PER    NaN    NaN
 277  20.0607    2014       2      PER    NaN    NaN
 278  19.9140    2014       3      PER    NaN    NaN
 279  19.7868    2014       4      PER    NaN    NaN
 280  19.9366    2014       5      PER    NaN    NaN
 281  19.4495    2014       6      PER    NaN    NaN
 282  18.4419    2014       7      PER    NaN    NaN
 283  18.7700    2014       8      PER    NaN    NaN
 284  19.6347    2014       9      PER    NaN    NaN
 285  19.9489    2014      10      PER    NaN    NaN
 286  20.3996    2014      11      PER    NaN    NaN
 287  20.1064    2014      12      PER    NaN    NaN
 288  19.8736    2015       1      PER    NaN    NaN
 289  20.5103    2015       2      PER    NaN    NaN
 290  20.2532    2015       3      PER    NaN    NaN
 291  20.0185    2015       4      PER    NaN    NaN
 292  20.0984    2015       5      PER    NaN    NaN
 293  19.7564    2015       6      PER    NaN    NaN
 294  19.0715    2015       7      PER    NaN    NaN
 295  20.1966    2015       8      PER    NaN    NaN
 296  20.8076    2015       9      PER    NaN    NaN
 297  20.8017    2015      10      PER    NaN    NaN
 298  21.0716    2015      11      PER    NaN    NaN
 299  20.7846    2015      12      PER    NaN    NaN

 [300 rows x 6 columns],          tas  \tYear   Month  Country   ISO3   ISO2
 0    24.7998    1991       1      COL    NaN    NaN
 1    25.4462    1991       2      COL    NaN    NaN
 2    25.3374    1991       3      COL    NaN    NaN
 3    25.1686    1991       4      COL    NaN    NaN
 4    24.7907    1991       5      COL    NaN    NaN
 5    24.4658    1991       6      COL    NaN    NaN
 6    23.7821    1991       7      COL    NaN    NaN
 7    23.3523    1991       8      COL    NaN    NaN
 8    24.3780    1991       9      COL    NaN    NaN
 9    24.1658    1991      10      COL    NaN    NaN
 10   24.2287    1991      11      COL    NaN    NaN
 11   24.6322    1991      12      COL    NaN    NaN
 12   24.9539    1992       1      COL    NaN    NaN
 13   25.5501    1992       2      COL    NaN    NaN
 14   25.8193    1992       3      COL    NaN    NaN
 15   25.3115    1992       4      COL    NaN    NaN
 16   24.5012    1992       5      COL    NaN    NaN
 17   24.6022    1992       6      COL    NaN    NaN
 18   24.1308    1992       7      COL    NaN    NaN
 19   24.1319    1992       8      COL    NaN    NaN
 20   24.0576    1992       9      COL    NaN    NaN
 21   24.2185    1992      10      COL    NaN    NaN
 22   24.2610    1992      11      COL    NaN    NaN
 23   24.5694    1992      12      COL    NaN    NaN
 24   24.8642    1993       1      COL    NaN    NaN
 25   25.1395    1993       2      COL    NaN    NaN
 26   25.1130    1993       3      COL    NaN    NaN
 27   24.8708    1993       4      COL    NaN    NaN
 28   24.1999    1993       5      COL    NaN    NaN
 29   24.2923    1993       6      COL    NaN    NaN
 ..       ...     ...     ...      ...    ...    ...
 270  23.9021    2013       7      COL    NaN    NaN
 271  24.1021    2013       8      COL    NaN    NaN
 272  24.7462    2013       9      COL    NaN    NaN
 273  24.4653    2013      10      COL    NaN    NaN
 274  24.4336    2013      11      COL    NaN    NaN
 275  24.4593    2013      12      COL    NaN    NaN
 276  25.1261    2014       1      COL    NaN    NaN
 277  25.2698    2014       2      COL    NaN    NaN
 278  25.4366    2014       3      COL    NaN    NaN
 279  25.1698    2014       4      COL    NaN    NaN
 280  24.6618    2014       5      COL    NaN    NaN
 281  24.3481    2014       6      COL    NaN    NaN
 282  24.6022    2014       7      COL    NaN    NaN
 283  24.3146    2014       8      COL    NaN    NaN
 284  24.8254    2014       9      COL    NaN    NaN
 285  24.5443    2014      10      COL    NaN    NaN
 286  24.6317    2014      11      COL    NaN    NaN
 287  24.6787    2014      12      COL    NaN    NaN
 288  24.8799    2015       1      COL    NaN    NaN
 289  25.6278    2015       2      COL    NaN    NaN
 290  25.3505    2015       3      COL    NaN    NaN
 291  25.1700    2015       4      COL    NaN    NaN
 292  25.0442    2015       5      COL    NaN    NaN
 293  24.7595    2015       6      COL    NaN    NaN
 294  24.6182    2015       7      COL    NaN    NaN
 295  25.0313    2015       8      COL    NaN    NaN
 296  25.3662    2015       9      COL    NaN    NaN
 297  25.3983    2015      10      COL    NaN    NaN
 298  25.4995    2015      11      COL    NaN    NaN
 299  25.4533    2015      12      COL    NaN    NaN

 [300 rows x 6 columns]]

In [42]:
TempData = pd.as(TempData)

list

In [40]:
TempData[TempData.Month==1]

AttributeError: 'list' object has no attribute 'Month'

In [33]:
RainfallData

[            pr  \tYear   Month  Country   ISO3   ISO2
 0    209.90400    1991       1      BOL    NaN    NaN
 1    165.21000    1991       2      BOL    NaN    NaN
 2    166.84700    1991       3      BOL    NaN    NaN
 3     85.99840    1991       4      BOL    NaN    NaN
 4     49.60090    1991       5      BOL    NaN    NaN
 5     47.32130    1991       6      BOL    NaN    NaN
 6     19.88850    1991       7      BOL    NaN    NaN
 7      8.16148    1991       8      BOL    NaN    NaN
 8     47.95680    1991       9      BOL    NaN    NaN
 9     79.60350    1991      10      BOL    NaN    NaN
 10   114.01300    1991      11      BOL    NaN    NaN
 11   111.58800    1991      12      BOL    NaN    NaN
 12   186.88300    1992       1      BOL    NaN    NaN
 13   131.20400    1992       2      BOL    NaN    NaN
 14   155.87000    1992       3      BOL    NaN    NaN
 15    88.35530    1992       4      BOL    NaN    NaN
 16    58.82030    1992       5      BOL    NaN    NaN
 17    46.41200    1992       6      BOL    NaN    NaN
 18    27.76540    1992       7      BOL    NaN    NaN
 19    61.41150    1992       8      BOL    NaN    NaN
 20    60.20360    1992       9      BOL    NaN    NaN
 21   109.50100    1992      10      BOL    NaN    NaN
 22   129.31800    1992      11      BOL    NaN    NaN
 23   123.69000    1992      12      BOL    NaN    NaN
 24   243.79900    1993       1      BOL    NaN    NaN
 25   111.17500    1993       2      BOL    NaN    NaN
 26   147.96800    1993       3      BOL    NaN    NaN
 27    64.30880    1993       4      BOL    NaN    NaN
 28    28.93670    1993       5      BOL    NaN    NaN
 29    14.50230    1993       6      BOL    NaN    NaN
 ..         ...     ...     ...      ...    ...    ...
 270    8.10500    2013       7      BOL    NaN    NaN
 271   25.65330    2013       8      BOL    NaN    NaN
 272   43.11240    2013       9      BOL    NaN    NaN
 273  115.41200    2013      10      BOL    NaN    NaN
 274  124.43400    2013      11      BOL    NaN    NaN
 275  176.86500    2013      12      BOL    NaN    NaN
 276  258.94700    2014       1      BOL    NaN    NaN
 277  212.88200    2014       2      BOL    NaN    NaN
 278  193.64600    2014       3      BOL    NaN    NaN
 279   74.63690    2014       4      BOL    NaN    NaN
 280   63.21620    2014       5      BOL    NaN    NaN
 281   27.83580    2014       6      BOL    NaN    NaN
 282   27.27870    2014       7      BOL    NaN    NaN
 283   15.81190    2014       8      BOL    NaN    NaN
 284   48.35210    2014       9      BOL    NaN    NaN
 285   40.61980    2014      10      BOL    NaN    NaN
 286  111.40900    2014      11      BOL    NaN    NaN
 287   87.43710    2014      12      BOL    NaN    NaN
 288  188.35200    2015       1      BOL    NaN    NaN
 289  191.45700    2015       2      BOL    NaN    NaN
 290  142.02900    2015       3      BOL    NaN    NaN
 291  112.32200    2015       4      BOL    NaN    NaN
 292  103.16100    2015       5      BOL    NaN    NaN
 293   28.89860    2015       6      BOL    NaN    NaN
 294   58.26810    2015       7      BOL    NaN    NaN
 295   20.43510    2015       8      BOL    NaN    NaN
 296   43.78800    2015       9      BOL    NaN    NaN
 297   54.58650    2015      10      BOL    NaN    NaN
 298   89.38320    2015      11      BOL    NaN    NaN
 299   88.48570    2015      12      BOL    NaN    NaN

 [300 rows x 6 columns],            pr  \tYear   Month  Country   ISO3   ISO2
 0    110.7720    1991       1      PER    NaN    NaN
 1    149.8710    1991       2      PER    NaN    NaN
 2    180.9780    1991       3      PER    NaN    NaN
 3    113.0370    1991       4      PER    NaN    NaN
 4    122.3220    1991       5      PER    NaN    NaN
 5    104.7460    1991       6      PER    NaN    NaN
 6     35.2588    1991       7      PER    NaN    NaN
 7     51.8483    1991       8      PER    NaN    NaN
 8     88.4582    1991       9      PER    NaN    NaN
 9     98.1672    1991      10      PER    NaN    NaN
 10   142.3550    1991      11      PER    NaN    NaN
 11   103.6000    1991      12      PER    NaN    NaN
 12   108.7610    1992       1      PER    NaN    NaN
 13   128.3800    1992       2      PER    NaN    NaN
 14   157.7920    1992       3      PER    NaN    NaN
 15   112.8990    1992       4      PER    NaN    NaN
 16    55.7750    1992       5      PER    NaN    NaN
 17    57.1915    1992       6      PER    NaN    NaN
 18    68.9449    1992       7      PER    NaN    NaN
 19   106.4590    1992       8      PER    NaN    NaN
 20   125.3000    1992       9      PER    NaN    NaN
 21   103.7470    1992      10      PER    NaN    NaN
 22   129.0480    1992      11      PER    NaN    NaN
 23   155.4120    1992      12      PER    NaN    NaN
 24   255.5960    1993       1      PER    NaN    NaN
 25   143.0690    1993       2      PER    NaN    NaN
 26   208.5180    1993       3      PER    NaN    NaN
 27   184.8360    1993       4      PER    NaN    NaN
 28   103.7290    1993       5      PER    NaN    NaN
 29    59.8479    1993       6      PER    NaN    NaN
 ..        ...     ...     ...      ...    ...    ...
 270   75.5839    2013       7      PER    NaN    NaN
 271   78.4017    2013       8      PER    NaN    NaN
 272   74.5302    2013       9      PER    NaN    NaN
 273  145.3160    2013      10      PER    NaN    NaN
 274  143.2180    2013      11      PER    NaN    NaN
 275  152.0900    2013      12      PER    NaN    NaN
 276  159.0640    2014       1      PER    NaN    NaN
 277  149.2600    2014       2      PER    NaN    NaN
 278  193.8480    2014       3      PER    NaN    NaN
 279  172.6720    2014       4      PER    NaN    NaN
 280   91.7503    2014       5      PER    NaN    NaN
 281   74.1397    2014       6      PER    NaN    NaN
 282   71.6753    2014       7      PER    NaN    NaN
 283   77.6913    2014       8      PER    NaN    NaN
 284   83.2653    2014       9      PER    NaN    NaN
 285  108.8530    2014      10      PER    NaN    NaN
 286  127.2600    2014      11      PER    NaN    NaN
 287  174.0690    2014      12      PER    NaN    NaN
 288  154.3840    2015       1      PER    NaN    NaN
 289  182.3060    2015       2      PER    NaN    NaN
 290  187.5390    2015       3      PER    NaN    NaN
 291  179.8370    2015       4      PER    NaN    NaN
 292  109.1790    2015       5      PER    NaN    NaN
 293   68.5707    2015       6      PER    NaN    NaN
 294  102.3850    2015       7      PER    NaN    NaN
 295   58.2170    2015       8      PER    NaN    NaN
 296   57.6487    2015       9      PER    NaN    NaN
 297   64.1029    2015      10      PER    NaN    NaN
 298   99.1171    2015      11      PER    NaN    NaN
 299  151.3360    2015      12      PER    NaN    NaN

 [300 rows x 6 columns],            pr  \tYear   Month  Country   ISO3   ISO2
 0     56.1426    1991       1      COL    NaN    NaN
 1     83.2545    1991       2      COL    NaN    NaN
 2    220.2360    1991       3      COL    NaN    NaN
 3    209.4310    1991       4      COL    NaN    NaN
 4    234.1020    1991       5      COL    NaN    NaN
 5    238.5100    1991       6      COL    NaN    NaN
 6    223.8870    1991       7      COL    NaN    NaN
 7    200.3270    1991       8      COL    NaN    NaN
 8    188.0760    1991       9      COL    NaN    NaN
 9    150.8850    1991      10      COL    NaN    NaN
 10   188.0560    1991      11      COL    NaN    NaN
 11    93.5771    1991      12      COL    NaN    NaN
 12    59.9233    1992       1      COL    NaN    NaN
 13    86.4726    1992       2      COL    NaN    NaN
 14   113.8630    1992       3      COL    NaN    NaN
 15   202.7130    1992       4      COL    NaN    NaN
 16   223.4910    1992       5      COL    NaN    NaN
 17   204.4660    1992       6      COL    NaN    NaN
 18   235.4130    1992       7      COL    NaN    NaN
 19   235.4210    1992       8      COL    NaN    NaN
 20   222.8440    1992       9      COL    NaN    NaN
 21   156.2300    1992      10      COL    NaN    NaN
 22   182.0250    1992      11      COL    NaN    NaN
 23   148.5850    1992      12      COL    NaN    NaN
 24   146.5230    1993       1      COL    NaN    NaN
 25   119.3580    1993       2      COL    NaN    NaN
 26   213.0440    1993       3      COL    NaN    NaN
 27   268.1350    1993       4      COL    NaN    NaN
 28   289.3320    1993       5      COL    NaN    NaN
 29   194.5360    1993       6      COL    NaN    NaN
 ..        ...     ...     ...      ...    ...    ...
 270  149.0250    2013       7      COL    NaN    NaN
 271  309.0680    2013       8      COL    NaN    NaN
 272  220.7070    2013       9      COL    NaN    NaN
 273  176.3320    2013      10      COL    NaN    NaN
 274  192.6870    2013      11      COL    NaN    NaN
 275  113.8580    2013      12      COL    NaN    NaN
 276   89.1602    2014       1      COL    NaN    NaN
 277  111.7820    2014       2      COL    NaN    NaN
 278  149.6340    2014       3      COL    NaN    NaN
 279  183.5800    2014       4      COL    NaN    NaN
 280  233.4160    2014       5      COL    NaN    NaN
 281  215.4540    2014       6      COL    NaN    NaN
 282  219.8450    2014       7      COL    NaN    NaN
 283  252.3560    2014       8      COL    NaN    NaN
 284  188.1280    2014       9      COL    NaN    NaN
 285  230.3030    2014      10      COL    NaN    NaN
 286  238.2620    2014      11      COL    NaN    NaN
 287  181.0480    2014      12      COL    NaN    NaN
 288  148.6860    2015       1      COL    NaN    NaN
 289  105.0790    2015       2      COL    NaN    NaN
 290  266.6620    2015       3      COL    NaN    NaN
 291  228.5930    2015       4      COL    NaN    NaN
 292  200.8960    2015       5      COL    NaN    NaN
 293  264.8430    2015       6      COL    NaN    NaN
 294  259.0020    2015       7      COL    NaN    NaN
 295  189.6000    2015       8      COL    NaN    NaN
 296  138.0360    2015       9      COL    NaN    NaN
 297  157.3480    2015      10      COL    NaN    NaN
 298  173.8600    2015      11      COL    NaN    NaN
 299   96.3039    2015      12      COL    NaN    NaN

 [300 rows x 6 columns]]